#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Basic styling for the select element */
.select-style {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.select-style:hover {
  border-color: #888;
}

/* Styles for the dropdown when it is active/focused */
.select-style:focus {
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.8);
}

/* Styles to make the dropdown full-width of its container */
.full-width-select {
  width: 30%;
  padding: 10px;
  margin-left: 10px;
  box-sizing: border-box; /* Includes padding and border in the element's total width */
}

/* Disabled state of the select */
.select-style:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.outcome-result {
  color:#59922b;
  font-size: larger;
  text-decoration: none;
}

.outcome-lists {
  list-style-type: none !important;
}

.player-image {
  height: 250
}
